# T-TEST, CHI SQUARE TEST & ANOVA TEST

In [1]:
# loading basic libraries
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
import warnings;warnings.filterwarnings('ignore');

In [2]:
# Reading data file
data = sns.load_dataset('tips')
print(data.shape)
data.head()

(244, 7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# T-test on 2 independent continous variable

In [3]:
# T test for independent variable to test either they similar or not.
# Both variable are continuous

tips = data['tip']
tip_1 = tips[:122]
tip_2 = tips[122:]

statistics, p_value = stats.ttest_ind(tip_1,tip_2)

print('P value:', p_value)
print('Null Hypothesis: Data samples are similar')
if p_value <= 0.05:
    print('Reject H0')
else:
    print('Retain H0')

P value: 0.5333234882069309
Null Hypothesis: Data samples are similar
Retain H0

# T-test categorical varaible ( two values) as independent and cantinuous variable as dependent

In [4]:
# T independent test
female_tips = data[data['sex'] == 'Female']['tip'] 
male_tips = data[data['sex'] == 'Male']['tip']

statistics, p_value = stats.ttest_ind(female_tips,male_tips)

print('P value:', p_value)
print('Null Hypothesis: Data samples are similar')
if p_value <= 0.05:
    print('Reject H0')
else:
    print('Retain H0')

P value: 0.16645623503456763
Null Hypothesis: Data samples are similar
Retain H0

# T-test for pair relation for two continuous samples

In [5]:
statistic, p_value = stats.ttest_rel(data['tip'],data['total_bill'])

print('P value:', p_value)
print('H0 : Data pair samples are corelated')
if p_value <= 0.05:
    print('Test Result : Reject H0')
else:
    print('Test Result : Retain H0')

P value: 8.020018605020393e-91
H0 : Data pair samples are corelated
Test Result : Reject H0

# Chi- Square test between two categorical variables

In [15]:
table = pd.crosstab(data['sex'], data['smoker'])
table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [16]:
observed = table.values
expected = stats.chi2_contingency(table)[3]

print(observed)
print(expected)

[[60 97]
 [33 54]]
[[59.84016393 97.15983607]
 [33.15983607 53.84016393]]

In [17]:
alpha = 0.05 
q = 1-alpha
t_rows ,t_cols = table.shape[0],table.shape[1]
ddof = (t_rows -1) * (t_cols - 1)
print('Degree of Freedom:', ddof)

Degree of Freedom: 1

In [18]:
chi_square = sum([((o-e)**2)/e for o,e in zip(observed,expected) ])
chi_square_statistics = sum(chi_square)
print(' chi statistics :' , chi_square_statistics)

 chi statistics : 0.001934818536627623

In [19]:
print('chi statistics :' , round(chi_square_statistics,3))

critical_value = stats.chi2.ppf( q=q,df=ddof)
print('critical Value:', round(critical_value,3))

p = 1 - stats.chi2.cdf(x=chi_square_statistics,df = ddof)
print ( 'P value:' , round(p,3))

print('H0 : Categorical variables are not related')
if (chi_square_statistics >= critical_value) | (p <= alpha):
    print('Test Result : Reject H0')
else:
    print('Test Result : Retain H0')

chi statistics : 0.002
critical Value: 3.841
P value: 0.965
H0 : Categorical variables are not related
Test Result : Retain H0

# ANOVA TEST

Dependent variable Continuous and independent varaible categorical ( 3 or more)

In [13]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [14]:
# independent variable is categorical and dependent variable is continuous
mod = ols('tip~size+day',data=data).fit()
anova = sm.stats.anova_lm(mod)
anova

# alpha = 0.05
# size is significant ( size and tips are related) 
# day is not significant ( day and tips are related)

             df      sum_sq     mean_sq         F        PR(>F)
day         3.0    9.525873    3.175291   2.15545  9.394962e-02
size        1.0  103.604948  103.604948  70.32909  4.377982e-15
Residual  239.0  352.081656    1.473145       NaN           NaN